<div class="row d-flex justify-content-center justify-content-xl-between mb-3 mb-lg-5 p-2 p-lg-4">
    <form>

        <h1 class="d-inline" style="text-transform: capitalize;"></h1>

        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-auto">
                <button matStepperPrevious class="btn btn-back me-4"><i class="bi bi-arrow-left-circle-fill"></i></button>
            </div>
            <div class="col-auto">
                <button matStepperNext type="submit" class="btn btn-outline-purple">Confirmar Informacion</button>
            </div>
        </div>
    </form>
</div>