<div class="container-md mt-0 mb-0 mt-md-5 mb-md-5 px-0">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card animate__animated animate__zoomIn animate__faster shadow rounded-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4" > <img id="main-image" src="http://localhost:3000/{{product.path}}" width="250" /> </div>
                            <div class="thumbnail text-left" *ngFor="let producto of this.imagenes"> 
                               
                                <img onclick="change_image(this)" src="http://localhost:3000/{{producto.path}}" width="70" class="ms-3"> 
                                
                             <!--<img onclick="change_image(this)" src="https://picsum.photos/400" width="70" class="ms-3">   
                                 <img onclick="change_image(this)" src="http://localhost:3000/{{producto.path}}" width="70" class="ms-3"> 
                                <img onclick="change_image(this)" src="https://picsum.photos/400" width="70" class="ms-3"> 
                                <img onclick="change_image(this)" src="https://picsum.photos/100" width="70" class="ms-3"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class="product p-4" style="background: rgb(255,255,255)">
                            <div class="mt-4 mb-3"> 
                                <h5 class="text-uppercase">{{product.product_name}}</h5>
                                <a class="text-uppercase text-muted brand text-decoration-none" [routerLink]="['/business', product.vendor_id]" >{{product.business_name}}</a>
                                <div class="price d-flex flex-row align-items-center mt-3">
                                    <strong>Precio:</strong>
                                     <span class="ms-2">${{product.price}}</span>
                                </div>
                            </div>
                            <strong>Descripcion</strong>
                            <p class="about">{{product.description}}</p>
                            <div class="cart mt-5 d-flex justify-content-center align-items-center"> <button class="btn btn-outline-success text-uppercase mr-2 px-4"  (click)="addCart(product.product_id, '1')">Agregar Al Carrito</button> </div>
                        </div>

        <!--<div class="col-auto me-0 me-md-2 mb-4 mb-md-0 ">
            <div class="row d-flex justify-content-center">
                <div class="col-auto border border-1 py-3" *ngFor="let imagen of this.imagenes">
                    <img  src="http://localhost:3000/{{imagen.path}}">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 rounded-3 border border-1 py-5 border-0">
            <div class="row mb-4 d-flex justify-content-center">
                <div class="col-4 mb-4">
                    <h3 class="display-6">{{product.product_name}}</h3>
                    <div class="info">
                        <small class="d-block text-end">{{product.category}}</small>
                        <small class="d-block text-end">Vendedor</small>
                    </div>
                </div>
            </div>
        </div>-->


    </div>
</div>

