<ng-template matStepLabel>Hecho</ng-template>
<p>Compra Realizada</p>
<div class="d-flex justify-content-center mt-5">
    <button class="btn btn-outline-purple me-4" [routerLink]="['/account-vendor/shoppinghistory/purchase-details']">Ver Detalles VENDOR</button>
    <button class="btn btn-outline-purple me-4" [routerLink]="['/account/shoppinghistory/purchase-details']">Ver Detalles CUSTOMER</button>
    <button class="btn btn-primary ms-4" routerLink="../allproducts">Seguir Comprando</button>
</div>