<div class="widgets-container">
    <div class="row mb-4 widget rounded-3 shadow">
        <a href="#" routerLink="/allproducts">
            <div class="card bg-dark text-white">
                <img src="https://picsum.photos/2000/1500" class="card-img img-fluid" alt="...">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title">Automotriz</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="row mb-4 widget rounded-3 shadow">
        <a href="#" routerLink="/allproducts">
            <div class="card bg-dark text-white">
                <img src="https://picsum.photos/2000/1500" class="card-img img-fluid" alt="...">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title">Materia Prima</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="row mb-4 widget rounded-3 shadow">
        <a href="#" routerLink="/allproducts">
            <div class="card bg-dark text-white">
                <img src="https://picsum.photos/2000/1500" class="card-img img-fluid" alt="...">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title">Servicios</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="row mb-4 widget rounded-3 shadow">
        <a href="#" routerLink="/allproducts">
            <div class="card bg-dark text-white">
                <img src="https://picsum.photos/2000/1500" class="card-img img-fluid" alt="...">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title">Hogar</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="row mb-4 widget rounded-3 shadow">
        <a href="#" routerLink="/allproducts">
            <div class="card bg-dark text-white">
                <img src="https://picsum.photos/2000/1500" class="card-img img-fluid" alt="...">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title">Ropa</h5>
                </div>
            </div>
        </a>
    </div>
</div>